<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ACPI</key>
	<dict>
		<key>AutoMerge</key>
		<true/>
		<key>DSDT</key>
		<dict>
			<key>Fixes</key>
			<dict>
				<key>FixHPET</key>
				<true/>
				<key>FixIPIC</key>
				<true/>
				<key>FixMutex</key>
				<true/>
				<key>FixRTC</key>
				<true/>
				<key>FixTMR</key>
				<true/>
			</dict>
			<key>Name</key>
			<string>DSDT.aml</string>
			<key>Patches</key>
			<array>
				<dict>
					<key>Comment</key>
					<string>_DSM to XDSM</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					X0RTTQ==
					</data>
					<key>Replace</key>
					<data>
					WERTTQ==
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>_OSI to XOSI</string>
					<key>Disabled</key>
					<true/>
					<key>Find</key>
					<data>
					X09TSQ==
					</data>
					<key>Replace</key>
					<data>
					WE9TSQ==
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>XHCI to XHC</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					WEhDSQ==
					</data>
					<key>Replace</key>
					<data>
					WEhDXw==
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>EHC1 to EH01</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					RUhDMQ==
					</data>
					<key>Replace</key>
					<data>
					RUgwMQ==
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>KBD to PS2K</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					S0JEXw==
					</data>
					<key>Replace</key>
					<data>
					UFMySw==
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>MOU to PS2M</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					TU9VXw==
					</data>
					<key>Replace</key>
					<data>
					UFMyTQ==
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>SMBU to SBUS</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					U01CVQ==
					</data>
					<key>Replace</key>
					<data>
					U0JVUw==
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>EXP to RP0</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					RVhQ
					</data>
					<key>Replace</key>
					<data>
					UlAw
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>IGBE to GLAN</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					SUdCRQ==
					</data>
					<key>Replace</key>
					<data>
					R0xBTg==
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>B0D3 to HDAU</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					QjBEMw==
					</data>
					<key>Replace</key>
					<data>
					SERBVQ==
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>SAT1 to SATA</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					U0FUMQ==
					</data>
					<key>Replace</key>
					<data>
					U0FUQQ==
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>VID to IGPU #1</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					VklEXwhfQURSDAAAAgA=
					</data>
					<key>Replace</key>
					<data>
					SUdQVQhfQURSDAAAAgA=
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>VID to IGPU #2</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					UENJMFZJRF8=
					</data>
					<key>Replace</key>
					<data>
					UENJMElHUFU=
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>BAT0/1_HID to XHID</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					CF9ISUQMQdAMCg==
					</data>
					<key>Replace</key>
					<data>
					CFhISUQMQdAMCg==
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>Notify(BAT0 to BATC</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					hkJBVDAKgA==
					</data>
					<key>Replace</key>
					<data>
					hkJBVEMKgA==
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>Notify(BAT1 to BATC</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					hkJBVDEKgA==
					</data>
					<key>Replace</key>
					<data>
					hkJBVEMKgA==
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>GBIF.SBDV to XBDV</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					oBVTQkRWeAxADQMAU0JEVmI=
					</data>
					<key>Replace</key>
					<data>
					oBVYQkRWeAxADQMAWEJEVmI=
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>Store(SB to Store(XB</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					cFNC
					</data>
					<key>Replace</key>
					<data>
					cFhC
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>Multiply(SB to Multiply(XB</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					d1NC
					</data>
					<key>Replace</key>
					<data>
					d1hC
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>_Q6A to XQ6A</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					X1E2QQ==
					</data>
					<key>Replace</key>
					<data>
					WFE2QQ==
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>_Q14 to XQ14</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					X1ExNA==
					</data>
					<key>Replace</key>
					<data>
					WFExNA==
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>_Q15 to XQ15</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					X1ExNQ==
					</data>
					<key>Replace</key>
					<data>
					WFExNQ==
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>_Q16 to XQ16</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					X1ExNg==
					</data>
					<key>Replace</key>
					<data>
					WFExNg==
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>_Q64 to XQ64</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					X1E2NA==
					</data>
					<key>Replace</key>
					<data>
					WFE2NA==
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>_Q66 to XQ66</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					X1E2Ng==
					</data>
					<key>Replace</key>
					<data>
					WFE2Ng==
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>_Q67 to XQ67</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					X1E2Nw==
					</data>
					<key>Replace</key>
					<data>
					WFE2Nw==
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>_Q68 to XQ68</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					X1E2OA==
					</data>
					<key>Replace</key>
					<data>
					WFE2OA==
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>_Q69 to XQ69</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					X1E2OQ==
					</data>
					<key>Replace</key>
					<data>
					WFE2OQ==
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>Method(_PTS,1,N) to ZPTS</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					X1BUUwE=
					</data>
					<key>Replace</key>
					<data>
					WlBUUwE=
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>Method(ESEL,0,S) to ESEZ</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					RVNFTAg=
					</data>
					<key>Replace</key>
					<data>
					RVNFWgg=
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>_WAK to XWAK</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					X1dBSw==
					</data>
					<key>Replace</key>
					<data>
					WFdBSw==
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>Disable XHCI in _WAK(</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					UlwvBF9TQl9QQ0kwWEhDX1hSU1SgTwmR
					</data>
					<key>Replace</key>
					<data>
					UlwvBF9TQl9QQ0kwWEhDX1hSU1SgTwmQ
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>Disable direct EC reads/writes by writing 0 to H8DR when _REV is called</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					lVxfUkVWCgJwCgFcSDhEUg==
					</data>
					<key>Replace</key>
					<data>
					lVxfUkVWCgJwCgBcSDhEUg==
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>HWAC to XWAC EC reads</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					RUNfX0hXQUM=
					</data>
					<key>Replace</key>
					<data>
					RUNfX1hXQUM=
					</data>
				</dict>
			</array>
		</dict>
		<key>DropTables</key>
		<array>
			<dict>
				<key>Signature</key>
				<string>DMAR</string>
			</dict>
		</array>
		<key>FixHeaders</key>
		<true/>
		<key>SSDT</key>
		<dict>
			<key>Generate</key>
			<dict>
				<key>PluginType</key>
				<true/>
			</dict>
		</dict>
	</dict>
	<key>Boot</key>
	<dict>
		<key>Arguments</key>
		<string>npci=0x3000 dart=0 alcid=15</string>
		<key>DefaultVolume</key>
		<string>LastBootedVolume</string>
		<key>NeverHibernate</key>
		<true/>
		<key>Secure</key>
		<false/>
		<key>Timeout</key>
		<integer>3</integer>
	</dict>
	<key>Devices</key>
	<dict>
		<key>Properties</key>
		<dict>
			<key>PciRoot(0)/Pci(0x02,0)</key>
			<dict>
				<key>AAPL,ig-platform-id</key>
				<data>
				AgArFg==
				</data>
				<key>device-id</key>
				<data>
				FhYAAA==
				</data>
				<key>framebuffer-fbmem</key>
				<data>
				AACQAA==
				</data>
				<key>framebuffer-patch-enable</key>
				<data>
				AQAAAA==
				</data>
				<key>framebuffer-stolenmem</key>
				<data>
				AAAwAQ==
				</data>
			</dict>
			<key>PciRoot(0)/Pci(0x03,0)</key>
			<dict>
				<key>layout-id</key>
				<data>
				IAAAAA==
				</data>
			</dict>
			<key>PciRoot(0)/Pci(0x1b,0)</key>
			<dict>
				<key>layout-id</key>
				<data>
				IAAAAA==
				</data>
			</dict>
		</dict>
	</dict>
	<key>GUI</key>
	<dict>
		<key>Custom</key>
		<dict>
			<key>Entries</key>
			<array>
				<dict>
					<key>Hidden</key>
					<false/>
					<key>Type</key>
					<string>OSXRecovery</string>
				</dict>
				<dict>
					<key>Title</key>
					<string>Windows</string>
					<key>Type</key>
					<string>Windows</string>
				</dict>
			</array>
		</dict>
		<key>Hide</key>
		<array>
			<string>Preboot</string>
		</array>
		<key>Mouse</key>
		<dict>
			<key>Enabled</key>
			<false/>
		</dict>
		<key>Scan</key>
		<dict>
			<key>Entries</key>
			<true/>
			<key>Legacy</key>
			<false/>
			<key>Linux</key>
			<true/>
			<key>Tool</key>
			<true/>
		</dict>
		<key>Theme</key>
		<string>ThinkPad</string>
	</dict>
	<key>KernelAndKextPatches</key>
	<dict>
		<key>KernelPm</key>
		<true/>
		<key>KernelToPatch</key>
		<array>
			<dict>
				<key>Comment</key>
				<string>MSR 0xE2 _xcpm_idle instant reboot</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>
				ILniAAAADzA=
				</data>
				<key>Replace</key>
				<data>
				ILniAAAAkJA=
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>Disable panic kext logging on 10.15 Release kernel</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>
				AIoChMB0
				</data>
				<key>MatchOS</key>
				<string>10.15.x</string>
				<key>Replace</key>
				<data>
				AIoChMDr
				</data>
			</dict>
		</array>
		<key>KextsToPatch</key>
		<array>
			<dict>
				<key>Comment</key>
				<string>External icons patch</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>
				RXh0ZXJuYWw=
				</data>
				<key>InfoPlistPatch</key>
				<false/>
				<key>Name</key>
				<string>AppleAHCIPort</string>
				<key>Replace</key>
				<data>
				SW50ZXJuYWw=
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>Enable TRIM for SSD</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>
				AEFQUExFIFNTRAA=
				</data>
				<key>InfoPlistPatch</key>
				<false/>
				<key>Name</key>
				<string>IOAHCIBlockStorage</string>
				<key>Replace</key>
				<data>
				AAAAAAAAAAAAAAA=
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>Disable minStolenSize less or equal fStolenMemorySize assertion, 10.15DB1</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>
				di5I/wU=
				</data>
				<key>InfoPlistPatch</key>
				<false/>
				<key>MatchOS</key>
				<string>10.15.x</string>
				<key>Name</key>
				<string>com.apple.driver.AppleIntelBDWGraphicsFramebuffer</string>
				<key>Replace</key>
				<data>
				6y5I/wU=
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>0x16260006,0x16260004/etc,32MB BIOS, 19MB framebuffer, 9MB cursor bytes (credit RehabMan)</string>
				<key>Disabled</key>
				<true/>
				<key>Find</key>
				<data>
				AAAgAgAAUAE=
				</data>
				<key>InfoPlistPatch</key>
				<false/>
				<key>Name</key>
				<string>com.apple.driver.AppleIntelBDWGraphicsFramebuffer</string>
				<key>Replace</key>
				<data>
				AAAwAQAAkAA=
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>USB Port limit patch #2 10.15.x modify by DalianSky</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>
				g/kPDw==
				</data>
				<key>InfoPlistPatch</key>
				<false/>
				<key>MatchOS</key>
				<string>10.15.x</string>
				<key>Name</key>
				<string>com.apple.driver.usb.AppleUSBXHCI</string>
				<key>Replace</key>
				<data>
				g/k/Dw==
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>USB port limit patch #1 10.15.x modify by DalianSky(credit ydeng)</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>
				g/sPDw==
				</data>
				<key>InfoPlistPatch</key>
				<false/>
				<key>MatchOS</key>
				<string>10.15.x</string>
				<key>Name</key>
				<string>com.apple.iokit.IOUSBHostFamily</string>
				<key>Replace</key>
				<data>
				g/s/Dw==
				</data>
			</dict>
		</array>
	</dict>
	<key>RtVariables</key>
	<dict>
		<key>BooterConfig</key>
		<string>0x28</string>
		<key>CsrActiveConfig</key>
		<string>0x67</string>
	</dict>
	<key>SMBIOS</key>
	<dict>
		<key>Mobile</key>
		<true/>
		<key>ProductName</key>
		<string>MacBookPro12,1</string>
		<key>Trust</key>
		<true/>
	</dict>
	<key>SystemParameters</key>
	<dict>
		<key>InjectKexts</key>
		<string>Detect</string>
	</dict>
</dict>
</plist>
